
.flex{
    display: flex;
}

#base{
    display: grid;
    place-items: center;
    height: 100vh;
}

#corpo{
    height: 800px;
    width: 800px;

    background-color: gray;
}

.bloco{
    padding: 100px;
    margin: 15px;

    background-color: blue;
}